body {
    background-color: #f0f0f0;
}
input {
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
}

#title {
    text-align: center;
    position: relative;
    font-size: 30px;
    top: 150px;
}

table {
    text-align: center;
    position: relative;
    top: 150px;
    left: 200px;
}

.nav_item:hover {
	opacity:0.5;
}

.header .global_nav {
	position:absolute;
	top:0;
	right:10px;
}
.header .global_nav li {
	float:left;
    list-style: none;
}
.header .global_nav li a {
	float:left;
	width:129px;
	height:41px;
	padding-top:28px;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	color:#000;
    background-color: #CCC;
	border:1px solid rgb(0, 0, 0);
}